[
    {nova, [
        {environment, dev},
        {dev_mode, true},
        {bootstrap_application, asobi},
        {json_lib, json},
        {cowboy_configuration, #{port => 8080}},
        {plugins, [
            {pre_request, nova_request_plugin, #{
                decode_json_body => true,
                parse_qs => true
            }},
            {pre_request, nova_cors_plugin, #{allow_origins => ~"*"}},
            {pre_request, nova_correlation_plugin, #{}}
        ]}
    ]},
    {kura, [
        {repo, asobi_repo},
        {host, "localhost"},
        {port, 5432},
        {database, "erlang_match_dev"},
        {user, "postgres"},
        {password, "postgres"},
        {pool_size, 10}
    ]},
    {shigoto, [
        {pool, asobi_repo},
        {poll_interval, 500},
        {queues, [{~"default", 10}]}
    ]},
    {asobi, [
        {game_modes, #{~"hello" => hello_game}},
        {matchmaker, #{tick_interval => 1000, max_wait_seconds => 60}},
        {session, #{token_ttl => 900, refresh_ttl => 2592000}}
    ]},
    {pg, [{scope, [nova_scope, asobi_presence, asobi_chat]}]}
].
